unbind r
bind r source-file ~/.tmux.conf

set -g prefix C-s
set -g mouse on

set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

bind-key h select-pane -L
bind-key j select-pane -D
bind-key k select-pane -U
bind-key l select-pane -R

bind-key left resize-pane -L 10
bind-key right resize-pane -R 10
bind-key up resize-pane -U 5
bind-key down resize-pane -D 5

# Set plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'christoomey/vim-tmux-navigator'
run '~/.tmux/plugins/tpm/tpm
